aes==1.0.0
altgraph==0.17
Appium-Python-Client==1.2.0
asgiref==3.2.10
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
concurrent-log-handler==0.9.19
ddt==1.4.2
Django==3.1.2
django-redis-sessions==0.6.2
et-xmlfile==1.0.1
ExifRead==2.3.2
func-timeout==4.3.5
future==0.18.2
idna==2.10
image==1.5.33
lxml==4.6.3
Naked==0.1.31
numpy==1.14.6
openpyxl==3.0.7
paho-mqtt==1.5.1
pefile==2019.4.18
Pillow==8.2.0
portalocker==2.3.0
pycryptodomex==3.10.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pymongo==3.6.0
PyMySQL==1.0.2
pytz==2020.1
pywifi==1.1.12
pywin32-ctypes==0.2.0
PyYAML==5.4.1
redis==3.5.3
requests==2.24.0
requests-toolbelt==0.9.1
rpa==1.45.0
selenium==3.141.0
shellescape==3.8.1
singledispatch==3.6.2
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
stopit==1.1.2
tagui==1.45.0
timeout-decorator==0.5.0
tqdm==4.56.0
urllib3==1.25.11
xlrd==1.2.0
xlutils==2.0.0
